/** @format */

.portfolio_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../assets/images/portfolioimage.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.portfolio_heroimage > img {
  width: 600px;
  height: 500px;
}
.portfolio_heroimage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio_heropage {
  display: flex;
  gap: 20px;
}
.portfolio_maincontent {
  border: 2px solid black;
  width: 500px;
  align-items: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.964);
}
.portfolio_maincontent > b {
  font-size: 22px;
  color: white;
}
.portfolio_heroimage > h3 {
  font-size: 27px;
}
