/** @format */

.profilebody_main {
  display: flex;
}
@media (max-width: 1260px) {
  .profilebody_main {
    width: 1200px;
  }
}
@media (max-width: 750px) {
  .profilebody_main {
    flex-wrap: wrap;
  }
}
